Checks: |
  -*
  clang-analyzer-*
  bugprone-*
  cppcoreguidelines-*
  performance-*
  portability-*
  readability-*
  modernize-*
  -portability-avoid-pragma-once
  -cppcoreguidelines-avoid-const-or-ref-data-members
  -readability-identifier-length
  -bugprone-suspicious-include
  -cppcoreguidelines-special-member-functions
  -modernize-use-trailing-return-type
  -cppcoreguidelines-avoid-magic-numbers
  -readability-magic-numbers
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
  -readability-function-cognitive-complexity
  -cppcoreguidelines-pro-type-union-access
  -bugprone-branch-clone
  -cppcoreguidelines-pro-type-vararg
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''
HeaderFilterRegex: '(managers|api)/.*\.(h|hpp)$'
FormatStyle: file
